avatar_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:8000/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://localhost:8000/soap/"
             name="AvatarService">

    <types>
        <xsd:schema targetNamespace="http://localhost:8000/soap/">
            <xsd:element name="createAvatarRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getAvatarInfoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="startMissionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="completeMissionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="progress" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="createAvatarResponse" type="xsd:string"/>
            <xsd:element name="getAvatarInfoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="level" type="xsd:int"/>
                        <xsd:element name="xp" type="xsd:int"/>
                        <xsd:element name="current_mission" type="xsd:string"/>
                        <xsd:element name="mission_progress" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="startMissionResponse" type="xsd:string"/>
            <xsd:element name="completeMissionResponse" type="xsd:string"/>
        </xsd:schema>
    </types>

    <message name="createAvatarRequest">
        <part name="parameters" element="tns:createAvatarRequest"/>
    </message>
    <message name="createAvatarResponse">
        <part name="parameters" element="tns:createAvatarResponse"/>
    </message>

    <message name="getAvatarInfoRequest">
        <part name="parameters" element="tns:getAvatarInfoRequest"/>
    </message>
    <message name="getAvatarInfoResponse">
        <part name="parameters" element="tns:getAvatarInfoResponse"/>
    </message>

    <message name="startMissionRequest">
        <part name="parameters" element="tns:startMissionRequest"/>
    </message>
    <message name="startMissionResponse">
        <part name="parameters" element="tns:startMissionResponse"/>
    </message>

    <message name="completeMissionRequest">
        <part name="parameters" element="tns:completeMissionRequest"/>
    </message>
    <message name="completeMissionResponse">
        <part name="parameters" element="tns:completeMissionResponse"/>
    </message>

    <portType name="AvatarServicePortType">
        <operation name="createAvatar">
            <input message="tns:createAvatarRequest"/>
            <output message="tns:createAvatarResponse"/>
        </operation>
        <operation name="getAvatarInfo">
            <input message="tns:getAvatarInfoRequest"/>
            <output message="tns:getAvatarInfoResponse"/>
        </operation>
        <operation name="startMission">
            <input message="tns:startMissionRequest"/>
            <output message="tns:startMissionResponse"/>
        </operation>
        <operation name="completeMission">
            <input message="tns:completeMissionRequest"/>
            <output message="tns:completeMissionResponse"/>
        </operation>
    </portType>

    <binding name="AvatarServiceBinding" type="tns:AvatarServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createAvatar">
            <soap:operation soapAction="createAvatar"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAvatarInfo">
            <soap:operation soapAction="getAvatarInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startMission">
            <soap:operation soapAction="startMission"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="completeMission">
            <soap:operation soapAction="completeMission"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="AvatarService">
        <port name="AvatarServicePort" binding="tns:AvatarServiceBinding">
            <soap:address location="http://localhost:8000/soap/"/>
        </port>
    </service>
</definitions>
